.container#buttons {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: lightgray;
    border: 2px solid;
}

.container#info {
    height: 400px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block {
    background-color: lightgray;
    border: 2px  solid;
    border-radius: 26px;
}