html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container#buttons {
    width: 750px;
    height: 250px;
    border-radius: 26px;
    background-color: lightgray;
    outline: 2px solid;
}

#buttons button {
    width: 220px;
    height: 210px;
    background-color: lightseagreen;
    border-radius: 16px;
    outline: 2px solid;
    border: none;
}

#buttons button:hover{
    background-color: beige;
}

.container#info {
    height: 440px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block {
    width: 540px;
    background-color: lightgray;
    outline: 2px  solid;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    height: 90px;
}

#scores {
    height: 300px;
}

button#reset {
    border: none;
}

#roundResult, button#reset {
    height: 50px;
    width: 500px;
    background-color: lightseagreen;
    border-radius: 16px;
    outline: 2px solid;
    margin: 10px;
}

#scoreTitle {
    height: 50px;
    width: 500px;
    background-color: lightseagreen;
    border-radius: 16px 16px 0 0;
    outline: 2px solid;
    margin: 10px;

}

.innerBlock#scoreInfo {
    height: 210px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.score {
    height: 50px;
    width: 240px;
    background-color: lightcyan;
    outline: 2px solid;
}

.value {
    height: 120px;
    width: 240px;
    background-color: lightseagreen;
    outline: 2px solid;
    border-radius: 0 0 26px 26px;
}

.innerBlock2 {
    height: 170px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

p {
    margin: 0;
    padding: 0;
}